$primary-color: #272727;
$secondary-color: #57dcff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}
