.home {
  margin-bottom: 2rem;
  padding-top: 35vh;
  align-items: center;
  text-align: center;

  &-name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-color($primary-color);

    &-last {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  &-description {
    margin-top: 1rem;
  }
}
