@import "config";
@import "home";
@import "menu";
@import "about";
@import "projects";
@import "contact";
@import "media";

body {
  background: $primary-color;
  color: set-color($primary-color);
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.page-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../img/model-1.jpg") center top;
  background-size: cover;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: set-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 2;
  text-align: center;
  padding: 1rem;
  color: set-color($primary-color);

  .social-icons {
    margin-bottom: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  p {
    padding: 1rem 3rem;
    border-top: 2px solid set-color($primary-color);
  }
}
